distlib
filelock
fonttools
idna
isort
joblib
kiwisolver
lazy-object-proxy
matplotlib
mccabe
mpmath
numpy
opencv-python
packaging
pandas
Pillow
platformdirs
pycodestyle
pylint
pyparsing
python-codicefiscale
python-dateutil
python-fsutil
python-slugify
pytz
qrcode
requests
scikit-learn
scipy
setuptools