astroid
autopep8
certifi
charset-normalizer
colorama
contourpy
cycler
daytime
dill
simpy
six
sympy
text-unidecode
threadpoolctl
timeout-decorator
toml
tomli
tomlkit
typing_extensions
urllib3
virtualenv
wheel
wrapt
zope.interface

distlib
filelock
fonttools
idna
isort
joblib
kiwisolver
lazy-object-proxy
matplotlib
mccabe
mpmath
numpy
opencv-python
packaging
pandas
Pillow
pip
platformdirs
pycodestyle
pylint
pyparsing
python-codicefiscale
python-dateutil
python-fsutil
python-slugify
pytz
qrcode
requests
scikit-learn
scipy
setuptools